/* LandingPage.css */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    25%{
        opacity: 1;
    }
    50% {
      opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }
.landing-page {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust this value as needed */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  
  .content {
    text-align: center;
    z-index: 1;
  }
  
  .heading {
    font-size: 3em; 
    color: #ffffff;
    font-weight: bolder;
    animation: fadeIn 3s ease-in-out infinite;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:4rem;
  }
  
  .paragraph {
    font-size: 1.2em; 
    color: #ffffff;
    font-weight: 500;
     background-color: #251f1f54;
     
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0f9d9d; /* Adjust color as needed */
    color: #fffcfc; /* Adjust color as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #053838; /* Adjust hover color as needed */
  }
  