@import url('https://fonts.googleapis.com/css2?family=Poppins@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.Chatbot {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #E3F2FD;
    z-index: 2;
}

@keyframes zoominout {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  .chat-prompt {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background: #183412;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chat-prompt:hover {
    background-color: #306623;
  }
  
#chatbot-toggler {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    height: 9vh;
    width: 9vb;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content:center;
    border:none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background:#183412;
    animation: zoominout 2s infinite;
}

#chatbot-toggler span {
    position: absolute;
}
  

#chatbot-toggler:hover {
    background-color: #306623;
}

.material-icons {
    font-family: 'Material Icons Outlined';
}
.material-symbols-outlined{
    text-align: center;
}
#chatbot-toggler span {
    position: absolute;
    font-size: 24px;
}

.close:before {
    content: 'close';
}

.mode_comment:before{
    content:'mode_comment';
}

.chatbot{
    position: fixed;
        display: flex;
        flex-direction: column;
    right: 2.5rem;
    top: 5rem;
    width: 28vw;
    height: 71vh;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    transition: opacity 0.3s ease;
}

.chatbot header{
    background:#306623;
    padding-top:1.2rem;
    text-align: center;
    border-radius: 15px 15px 0 0 ;
}
.chatbot header h2{
    color: #fff;
    font-size: 1.4rem;
}
.chatbox{
    max-height: 27rem;
    padding: 15px;
    padding-bottom: 38px;
}
.chatbox {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color:#183412 #f2f2f2; 
}

.chatbox::-webkit-scrollbar {
    width: 8px;
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: #919ea4; 
}

.chatbox::-webkit-scrollbar-track {
    background-color: #f2f2f2; 
}
.chat {
    display: flex;
    align-items: flex-start;
    margin: 0px;
}

.outgoing {
    margin: 0;
    justify-content: flex-end;
}
.chatbox .chat p {
    color: #fff;
    max-width: 75%;
    font-size: 0.95rem;
    padding: 10px 10px;
    border-radius: 10px 10px 0 10px;
    background:#306623;
    text-align: left;
}
.chatbox .incoming p{
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}
.chatbox .incoming span{
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background:#306623;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 5px 16px 0;
}
.chatbox .outgoing {
    margin: 0;
    justify-content: flex-end;
}
.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    height:auto;
    width: 100%;
    background: #264e1b;
    border-top: 1px solid #9d9494;
}

.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

.options-container {
  padding: 1rem;
  border: none;
  font-size: 0.95rem;
  width: 90%;
  overflow: hidden; 
}

.options-container label {
  color: #000;
  font-size: 0.95rem;
  font-family: 'Poppins', sans-serif;
}
#label-text {
    color:white;
}
#user-dropdown {
  margin-left: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 0.95rem;
  font-family: 'Poppins', sans-serif;
  width: 13rem;
}

option:hover{
    background-color: #b6bfc3;
}

#send-btn {
  height: 2rem;
  width: 3rem;
  line-height: 2rem;
  cursor: pointer;
  color: #fff; 
  border: none;
}